[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bgfanalyzer"]
	path = bgfanalyzer
	url = https://github.com/blackixp/bgfanalyzer
